<% content_for :title, 'Рабочий стол'
   breadcrumb :general, [['Рабочий стол', 'blank']] %>


<% unless flash[:notice].nil? %>
    <% content_for :javascript do %>

        <script>
            // Create new Notification
            new PNotify({
                text: '<%= flash[:notice].html_safe %>',
                shadow: false,
                opacity: 1,
                addclass: '',
                type: 'success',
                stack: {
                    "dir1": "down",
                    "dir2": "left",
                    "push": "top",
                    "spacing1": 10,
                    "spacing2": 10
                },
                width: '400px',
                delay: 2500,
                buttons: {
                    closer: false,
                    closer_hover: false,
                    sticker: false,
                    sticker_hover: false
                }
            });
        </script>
    <% end %>
<% end %>