<!-- Remove modal -->
<div id="remove-modal" class="popup-basic bg-none mfp-with-anim mfp-hide">

    <div class="panel">
        <div class="panel-heading">
              <span class="panel-icon">
                <i class="octicon octicon-trashcan"></i>
              </span>
            <span class="panel-title">Внимание!</span>
        </div>
        <div class="panel-body">
            Вы уверены что хотите удалить запись: <span class="remove-modal__delete-text text-danger fwb"></span>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-primary remove-modal__remove-button__success" type="button">Да</button>
            <button class="btn remove-modal__remove-button__abort" type="button">Нет</button>
        </div>
    </div>
</div>