<%
   entity =  CallRequest
   content_for :title, entity.signatures[:elements]
   breadcrumb :general, [[entity.signatures[:elements], 'blank']]

   links = []

   actions = [{
                      name: '<i class="octicon octicon-x"></i> ',
                      link: 'admin_call_request_path',
                      method: :delete,
                      format: 'json',
                      class: 'btn-xs btn btn-danger btn-row-delete',
                      exclusion: []
              }]

   table_data_attr = {
           sort_disable: -1,
           sort_column: 0,
           sort_default: 'asc',
           display_length: 25
   } %>

<%= render 'admin/_portlets/portlet',
           action: 'index',
           title: "<span class=\"glyphicon glyphicon-tasks\"></span> #{entity.signatures[:list_elements]}",
           links: links,
           data: @call_requests,
           entity: entity,
           actions: actions,
           data_attr: table_data_attr %>