<div>
	<label for="">Имя:</label>
	<span><%= @item.name %></span>
</div>
<div>
	<label for="">ТЕЛЕФОН:</label>
	<span><%= @item.telephone %></span>
</div>
<div>
	<label for="">E-Mail:</label>
	<span><%= @item.email %></span>
</div>
<div>
	<label for="">Сообщение:</label><br>
	<span><%= raw @item.message %></span>
</div>