<title>MintRocket - Разработка мобильных приложений для бизнеса под ключ за 5 недель!</title>
<meta name="keywords" content="<%= yield :keywords %>" />
<meta name="description" content="<%= yield :description %>">
<meta name="viewport" content="width=1000px, initial-scale=1.0">