@font-face {
	font-family: 'SegoeUI';
	src: font_url("SegoeUISemiBold.ttf") format('truetype');
	font-weight: 500;
	font-style: normal;
}



@font-face {
	font-family: 'Segoe WP';
	src: font_url("SegoeWP-Semibold.ttf") format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
  font-family: 'Segoe WP';
  src: font_url("SegoeWP.ttf") format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe WP';
	src: font_url("SegoeWP-Light.ttf") format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe WP';
	src: font_url("SegoeWP-Bold.ttf") format('truetype');
	font-weight: 700;
	font-style: normal;
}





@import "fotorama";


body, html {
	font: 100.01% 'Segoe WP', Arial;
}

html{
  min-width: 1000px;
}

*{
  list-style: none;
  outline: none;
}

.wrapper {
  overflow: hidden;
}

.landing_header{
  position: fixed;
  width: 100%;
  height: 81px;

  background: rgba(0, 0, 0, 0.5);

  z-index: 5;



  .landing_header_content{
    padding-top: 10px;
    height: 100%;
    width: 1000px;
    margin: auto;
    //overflow: hidden;

    .mintrocket_logo{
      float: left;
      img{
        width: 260px;
        height: 61px;
      }
    }
    .header_menu{
      margin-left: 81px;
      margin-top: 21px;
      float: left;
      ul{
        overflow: hidden;
        li{
          float: left;


          &+li{
            margin-left: 21px;

          }

          a{
            font-size: 13px;
            color: white;

            &:hover{
              color: #01B18A;
            }
          }
        }
      }
    }
    .rus_eng{
      float: left;
      margin-left: 42px;
      margin-top: 21px;
      ul{
        overflow: hidden;
        li{
          float: left;

          &+li{
              margin-left: 11px;
          }

          a{
            font-size: 13px;
            color: white;
          }
        }
      }
    }
    .call_me_block{

      float: right;
      .telephone_number{
        color: white;
        font-size: 23px;
        text-align: right;
        margin-top: -2px;
      }
      .call_me__bottom{
        margin-top: 2px;
        .time_msk{
          opacity: 0.69;
          font-size: 11px;
          color: #FFFFFF;
          display: inline-block;

          margin-right: 9px;
        }
        a{
          display: inline-block;
          text-align: center;

          background: #01B18A;
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
          border-radius: 100px;

          font-size: 14px;
          color: #FFFFFF;

          padding: 0 18px;
          padding-top: 2px;
          padding-bottom: 3px;
        }

        .hvr-ripple-out:before {
          content: '';
          position: absolute;
          border: #01B18A solid 2px;
          border-radius: 100px;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
        }
      }
    }
  }

}

.part_1{
  padding-top: 184px;
  background: asset-url('background_group.png') no-repeat center top;
  width: 100%;
  height: 3346px;
  position: relative;



  .content_text{

    text-align: center;
    h1{
      font-size: 49px;
      color: white;
      width: 856px;
      margin: auto;
      line-height: 1.1;
      letter-spacing: 1px;
    }
    .bottom_content_text{
      width: 590px;
      font-size: 18px;
      color: white;
      margin: auto;
      padding-top: 46px;
      font-weight: 300;

    }
  }
  .separator_part_1{
    text-align: center;
    margin: 65px 0;
    img{

    }
  }
  .part_1_bottom{
    margin: auto;
    width: 720px;
    display: table;
    table-layout: fixed;
    .left_part{
      display: table-cell;
      .arrow_left{
        float: left;
        margin-top: 20px;
        img{

        }
      }
      .text_and_button_left{
        width: 265px;
        float: left;
        margin-left: 20px;
        .left_part_text{
          font-size: 16px;
          color: white;
          padding-bottom: 26px;
          padding-left: 14px;
          text-align: center;
          font-weight: 100;
        }
        a{
          display: block;
          background: #01B18A;
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
          border-radius: 100px;

          text-align: center;
          width: 263px;
          height: 48px;
          font-size: 18px;
          color: #FFFFFF;
          line-height: 24px;

          padding: 10px 0;
        }



        .hvr-ripple-out:before {
          content: '';
          position: absolute;
          border: #01B18A solid 2px;
          border-radius: 100px;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
        }
      }

    }
    .right_part{
      display: table-cell;
      .arrow_right{
        float: right;
        margin-top: 20px;
        img{

        }
      }
      .text_and_button_right{
        margin-right: 20px;
        width: 265px;
        float: right;
        .right_part_text{
          font-size: 16px;
          color: white;
          padding-bottom: 26px;
          padding-right: 14px;
          text-align: center;
          font-weight: 100;
        }
        a{
          display: block;
          width: 263px;
          height: 48px;
          text-align: center;

          background: #160F39;
          border: 2px solid #FFFFFF;
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
          border-radius: 100px;

          font-size: 18px;
          color: #FFFFFF;
          line-height: 24px;

          padding: 10px 0;
        }
        .hvr-ripple-out:before {
          content: '';
          position: absolute;
          border: #FFFFFF solid 2px;
          border-radius: 100px;
          top: -2px;
          right: -2px;
          bottom: -2px;
          left: -2px;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
        }

      }

    }
  }
  .part_1_arrow_down{
    display: block;
    margin-top: 51px;
    text-align: center;
  }

  .part_1_numbers{
    width: 920px;
    margin: auto;
    overflow: hidden;
    margin-top: 53px;

    .advantage{
      max-width: 135px;
      float: left;
      .up_part{
        overflow: hidden;
        .text{
          span{
            font-size: 18px;
          }
          float: left;
          font-size: 44px;
          color: white;
          font-weight: 700;
        }
        .ico{
          float: left;
          margin-top: 18px;
          margin-left: 15px;
        }
      }
      .down_part{
        font-size: 14px;
        color: white;
      }

      &+.advantage{
        margin-left: 61px;
      }
    }
  }

  .partners_slider{
    height: 157px;
    margin: 88px auto 66px auto;
    width: 800px;

    .partner_item{
      display: table;
      a{
        display: table-cell;
        height: 157px;
        text-align: center;
        vertical-align: middle;
        img{
          margin: auto;
          max-height: 51px;
        }
      }
    }

    .slick-prev, .slick-next{
      &:before{ display: none;}
    }

    .slick-prev{
      background: asset-url('slider_arrow_left.png') no-repeat center left 12px, transparent;
      width: 40px;
      height: 40px;
      left: -67px;
      top: 45%;
      border-radius: 50%;
      transition: 300ms;

      &:hover{
        background: asset-url('slider_arrow_left_hober.png') no-repeat center left 12px, #575473;
      }
    }

    .slick-next {
      background: asset-url('slider_arrow_right.png') no-repeat center right 12px, transparent;
      width: 40px;
      height: 40px;
      right: -67px;
      top: 45%;
      border-radius: 50%;
      transition: 300ms;

      &:hover{
        background: asset-url('slider_arrow_right_hover.png') no-repeat center right 12px, #575473;
      }

    }

  }

  .platform_devices{

    width: 551px;
    margin: auto;
    padding-top: 13px;
    text-align: center;

    .platform_text{
      font-size: 20px;
      color: white;
      font-weight: 100;
    }

    .devices_block{
      margin-top: 54px;
      margin-left: 7px;

      text-align: center;
      width: 100%;
      overflow: hidden;


      .device_item{
        float: left;
        width: 103px;
        height: 112px;
        .device_img{
          img{

          }
        }
        .device_name{
          font-size: 14px;
          color: white;
          padding-top: 10px;
          width: 64px;
          margin: auto;
        }

        &+.device_item{
          margin-left: 41px;
        }
      }

      &+.devices_block{
        margin: 39px auto;
        width: 247px;
      }

    }
  }

  .part1_task_block{
    overflow: hidden;
    width: 1000px;
    margin: auto;

    .tasks_mobile_block{
      float: right;
      width: 609px;
      height: 656px;
      margin-top: 232px;


      color: black;
      .header_text{
        font-size: 45px;
        font-weight: 100;
        padding-left: 24px;

      }
      .sub_header_text{
        font-size: 25px;
        font-weight: 100;
        padding-left: 24px;
        line-height: 1;
      }

      .mobile_task_item{
        margin-top: 54px;
        .task_left_part{
          display: inline-block;
          vertical-align: top;
          .task_image{
            margin-top: 12px;
            width: 61px;
            height: 60px;
            img{

            }
          }
        }
        .task_right_part{
          padding-left: 11px;
          width: 507px;
          vertical-align: top;
          display: inline-block;
          .task_title{
            font-size: 19px;
          }
          .task_text{
            font-size: 16px;
            font-weight: 100;
            margin-top: 2px;
          }
        }

        &+.mobile_task_item{
          margin-top: 28px;
        }
      }
    }
  }

  .cases_block{
    width: 1000px;
    height: 714px;
    color: black;
    margin: auto;

    .cases_title{
      width: 211px;
      height: 150px;

      font-size: 45px;
      font-weight: 100;

      margin-top: 100px;
      margin-left: 50px;

      background: asset-url('cases_line.png') no-repeat bottom right;

    }


    .cases_slider{
      width: 100%;
      margin-top: 35px;
      .case_item{

        width: 100%;
        overflow: hidden;
        .case_left_part{
          float: left;
          width: 500px;
          height: 424px;

          margin-left: 80px;

          img{
            width: 100%;
            height: 100%;
          }
        }
        .case_right_part{
          width: 420px;
          float: left;
          padding-left: 20px;
          .case_title{
            font-size: 30px;
            color: #01C69A;
            font-weight: 600;
          }
          .case_desc{
            font-size: 16px;
            color: black;
            font-weight: 100;
            width: 320px;

            margin-top: 31px;
            line-height: 1.4;
          }
          .dev_time{
            margin-top: 16px;
            overflow: hidden;
            .number_time{
              background: asset-url('icon_time.png')no-repeat center center;
              width: 41px;
              height: 37px;
              color: black;
              font-size: 18px;
              text-align: center;
              float: left;

              padding: 7px 0;

              transition: 300ms;

              &:hover{
                background: asset-url('icon_time_green.png')no-repeat center center;
              }
            }
            .time_right_part{
              float: left;
              padding-left: 10px;
              .develop_time{
                font-size: 12px;
                color: #6D6D6D;
                font-weight: 100;
              }
              .time_name_block{
                color: black;
                font-size: 16px;
                line-height: 1;
              }
            }

          }
          .case_tags{
            margin-top: 19px;
            overflow: hidden;

            .tag_item{
              color: black;
              font-size: 12px;
              float: left;
              background: #E8E8E8;
              border-radius: 100px;

              padding: 1px 9px;

              &+.tag_item{
                margin-left: 14px;
              }


            }
          }
          .store_links{
            margin-top: 20px;
            overflow: hidden;
            .store_item{
              float: left;
              display: block;
              width: 115px;
              height: 41px;
              transition: 300ms;

              &+.store_item{
                margin-left: 20px;
              }
            }

            .appstore{
              background: asset-url('App_Store.png') no-repeat center center;
              &:hover{
                background: asset-url('App_Store_hover.png') no-repeat center center;
              }
            }

            .playstore{
              background: asset-url('Play_Store.png') no-repeat center center;
              &:hover{
                background: asset-url('Play_Store_hover.png') no-repeat center center;
              }
            }
            .winstore{
              background: asset-url('windows_store.png') no-repeat center center;
              &:hover{
                background: asset-url('windows_store_hover.png') no-repeat center center;
              }
            }


          }
        }
      }
    }

    .slick-prev, .slick-next{
      &:before{ display: none;}
      width: 46px;
      height: 46px;
      z-index: 5;
    }

    .slick-prev{
      background: asset-url('case_slide_left.png') no-repeat center center;
      background-size: cover ;
      left: -5px;
      //width: 50px;
      //height: 50px;
      transition: 300ms;

      &:hover{
        transform: scale(1.2);
      }

    }

    .slick-next {
      background: asset-url('case_slide_right.png') no-repeat center center;
      background-size: cover ;
      right: -5px;
      transition: 300ms;
      //width: 50px;
      //height: 50px;

      &:hover{
        transform: scale(1.2);
      }

    }

    .slick-dots{
      bottom: -24px;

      li{
        border-radius: 50%;
        width: 10px;
        height: 10px;
        button{
          &:before{ display: none;}
        }

        border: 1px solid #01B18A;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
      }

      .slick-active{
        background: #01B18A;
        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.25);
      }



    }
  }
}


.part_2{
  .part_2_info_block{
    width: 1000px;
    margin: auto;
    height: 200px;

    background: #F6F6F6;

    padding-top: 51px;
    padding-left: 19px;
    .info_block_text{
      color: black;
      font-size: 20px;
      padding: 10px 29px 12px 25px;
      line-height: 1.3;
      border-left: 10px solid #01B18A;
    }
  }

  .price_table{
    width: 1000px;
    height: 903px;
    margin: 101px auto auto;
    //overflow: hidden;
    .price_table__head{
      overflow: hidden;
      .table_title{
        float: left;
        color: black;
        font-size: 45px;
        font-weight: 100;
        margin-left: 50px;
      }
      .tarif_block{
        float: right;
        .tarif_item{
          float: left;
          width: 228px;

          .tarif_header{
            font-size: 16px;
            color: #FFFFFF;
            text-shadow: 0px 2px 5px rgba(0,0,0,0.25);
            text-align: center;
            padding: 9px 0;

            height: 41px;

          }

          .tarif_desc{
            color: black;
            font-weight: 100;
            font-size: 12px;
            height: 126px;
            padding: 8px;
            line-height: 1.4;
          }


        }
        .yellow{
          .tarif_header{
            background: #D5D8AA;
          }

          .tarif_desc{
            background: rgba(213, 216, 170, 0.1) ;
          }

        }

        .purple{
          .tarif_header {
            background: #563D81;
          }

          .tarif_desc{
            background: rgba(86, 61, 129, 0.1);
          }

        }

        .green{
          .tarif_header {
            background: #03BB8C;
          }

          .tarif_desc{
            background: rgba(3, 187, 140, 0.1);
          }
        }
      }
    }

    .table_panel_header{
      background: #03BB8C;
      font-size: 12px;
      color: white;
      padding: 6px 9px;
    }

    .list_table{
      table{
        tr{
          td{
            height: 28px;
            vertical-align: middle;
            font-weight: 100;
            font-size: 12px;
          }

          .desc{
            background: #F6F6F6;
            width: 316px;
            text-align: left;
            padding-left: 4px;
          }

          .yellow{
            background: rgba(213, 216, 170, 0.1) ;
          }
          .purple{
            background: rgba(86, 61, 129, 0.1);
          }
          .green{
            background: rgba(3, 187, 140, 0.1);
          }

          .for_icon{
            width: 228px;
            text-align: center;
          }
        }
        .no_color_row{
          td{
            background: white;
          }
        }
      }
    }

    .cost_buttons_row{
      margin-top: 24px;
      width: 684px;
      float: right;
      .button_item{
        float: left;
        width: 228px;
        height: 40px;
        .cost_button{

          background: #01B18A;
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);

          font-size: 14px;
          color: #FFFFFF;
          line-height: 19px;
          display: block;
          padding: 10px 37px;
          width: 215px;
          height: 39px;

          margin: auto;
        }

        .hvr-ripple-out:before {
          content: '';
          position: absolute;
          border: #01B18A solid 2px;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
        }
      }
    }
  }
}


.part_3{
  margin-top: 99px;
  .call_us_block{

    background: asset-url('call_us_back.png') no-repeat center center;

    height: 291px;


    .call_us_content{
      width: 1000px;
      margin: auto;
      text-align: center;
      padding-top: 27px;

      .call_us_title{
        color: #8EDBC9;
        font-size: 45px;
        font-weight: 100;
      }
      .call_us_desc{
        font-size: 20px;
        color: #FFFFFF;
        line-height: 27px;
        margin: auto;
        font-weight: 100;
        width: 700px;
        padding-top: 8px;
      }

      .call_us_form{
        margin: auto;
        margin-top: 41px;
        width: 828px;
        //overflow: hidden;

        input{
          font-size: 14px;
          color: white;
          float: left;
          width: 232px;

          border: none;
          border-bottom: 1px solid white;

          background: transparent;
          height: 43px;

          padding-left: 28px;

        }

        .name{
          background: asset-url('man_ico.png') no-repeat center left;
        }

        .telephone{
          background: asset-url('tele_ico.png') no-repeat center left;
          margin-left: 40px;
        }

        a{
          display: block;
          float: right;

          width: 283px;
          height: 45px;

          background: #01B18A;
          box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
          border-radius: 100px;

          font-size: 14px;
          color: #FFFFFF;
          line-height: 19px;

          padding: 12px 0;
        }

        .hvr-ripple-out:before {
          content: '';
          position: absolute;
          border: #01B18A solid 2px;
          border-radius: 100px;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
        }
      }
    }

  }


  .part_3_info_block{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    height: 135px;

    background: #F6F6F6;

    padding-top: 33px;
    padding-left: 19px;
    .info_block_text{
      color: black;
      font-size: 20px;
      padding: 22px 29px 20px 25px;
      line-height: 1.3;
      border-left: 10px solid #01B18A;
    }
  }
}

.part_4{

  margin-top: 100px;
  background: asset-url('part_4_back.png') no-repeat top center;

  .why_block{
    width: 1000px;
    margin: auto;
    padding-top: 27px;

    .block_title{
      text-align: center;
      color: white;
      font-weight: 100;
      font-size: 45px;
    }
    .block_row{
      overflow: hidden;
      margin-top: 50px;
      .reason_item{
        float: left;
        width: 235px;
        height: 285px;
        .reason_pict{
          height: 100px;
          img{

          }
        }
        .reason_title{
          color: white;
          font-size: 19px;

        }
        .reason_desc{
          color: white;
          font-size: 16px;
          font-weight: 100;
          width: 225px;
          line-height: 1.35;
          margin-top: 5px;
        }

        &+.reason_item{
          margin-left: 20px;
        }
      }
    }
  }

  .strong_company{
    overflow: hidden;
    margin: auto;
    width: 737px;


    .text{
      float: right;
      color: white;
      font-size: 30px;
      font-weight: 100;
      width: 613px;
      line-height: 1.4;

    }




    margin-top: 205px;



  }

  .what_is_dev{
    width: 1000px;
    height: 1143px;
    margin: auto;
    margin-top: 575px;

    .block_title{
      width: 660px;

      color: black;

      font-size: 45px;
      font-weight: 100;
      margin-left: 49px;
    }

    .madness_block{
      height: 1009px;
      width: 1000px;
      position: relative;
      .step{
        position: absolute;
        .step_number{
          font-family: 'SegoeUI';
          font-size: 45px;
          color: #E3E3E3;
        }
        .step_title{
          font-size: 20px;
          color: #02B28B;
          margin-top: -5px;
        }
        .step_desc{

          padding-top: 11px;
          line-height: 1.35;
          p{
            padding-left: 21px;
            background: asset-url('mark_oval.png') no-repeat top 5px left;
            font-weight: 100;
            font-size: 12px;
            color: #000000;
            &+p{
              margin-top: 16px;
            }
          }
        }
      }

      .one{
        width: 288px;
        height: 149px;
        left: 169px;
        top: 36px;
      }

      .two{
        width: 288px;
        height: 229px;
        left: 0;
        top: 236px;
      }

      .three{
        width: 288px;
        height: 277px;
        left: 49px;
        top: 515px;
      }

      .four{
        width: 460px;
        height: 277px;
        left: 388px;
        bottom: 0px;
      }

      .five{
        width: 279px;
        height: 245px;
        right:0;
        bottom: 327px;
      }

      .abs{
        position: absolute;
      }

      .arrow_1{
        left: 136px;
        top: 191px;
      }
      .arrow_2{
        left: 19px;
        top: 481px;
      }
      .arrow_3{
        left: 320px;
        bottom: 184px;
      }
      .arrow_4{
        right: 211px;
        bottom: 248px;
      }

      .center_telephone{
        img{
          width: 531px;
          height: 501px;
        }

        position: absolute;
        left: 330px;
        top: 238px;
      }
    }
  }

}

.part_5{
  .work_stages{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    .block_title{
      padding-left: 49px;
      font-size: 45px;
      color: #000000;
      font-weight: 100;
    }
    .work_stages_img{
      margin-top: 44px;
      margin-left: 48px;
      img{
        width: 902px;
        height: 291px;
      }
    }
  }

  .part_5_info_block{
    width: 1000px;
    margin: auto;
    height: 200px;
    margin-top: 74px;

    background: #F6F6F6;

    padding-top: 51px;
    padding-left: 19px;
    .info_block_text{
      color: black;
      font-size: 20px;
      padding: 0px 29px 0px 25px;
      line-height: 1.3;
      border-left: 10px solid #01B18A;
    }
  }

}

.part_6{
  margin-top: 100px;
  .form_block{
    width: 1000px;
    margin: auto;
    overflow: hidden;
    .left_part{
      float: left;
      img{
        width: 590px;
        height: 403px;
      }
    }
    .right_part{
      float: right;
      width: 354px;
      height: 403px;
      text-align: center;
      background: #332C4E;
      .form_title{
        font-size: 30px;
        color: #FFFFFF;
        margin-top: 33px;
      }

      .form_desc{

        font-size: 17px;
        color: #FFFFFF;
        line-height: 22px;

        margin: auto;
        margin-top: 19px;
        width: 226px;
      }

      input{
        font-size: 14px;
        color: white;
        width: 232px;

        border: none;
        border-bottom: 1px solid white;

        background: transparent;
        height: 43px;

        padding-left: 28px;

      }

      .name{
        background: asset-url('man_ico.png') no-repeat center left;
        margin-top: 31px;
      }

      .telephone{
        background: asset-url('tele_ico.png') no-repeat center left;
        margin-top: 14px;
      }

      a{
        display: block;

        width: 283px;
        height: 45px;

        background: #01B18A;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
        border-radius: 100px;

        font-size: 14px;
        color: #FFFFFF;
        line-height: 19px;

        padding: 12px 0;

        margin: auto;
        margin-top: 36px;
      }
      .hvr-ripple-out:before {
        content: '';
        position: absolute;
        border: #01B18A solid 2px;
        border-radius: 100px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
      }
    }
  }

  .feedback_block{
    margin: auto;
    width: 1000px;
    margin-top: 96px;
    .feedback_title{

      font-size: 45px;
      color: #000000;
      font-weight: 100;
      padding-left: 49px;

    }

    .feedback_content{
      overflow: hidden;
      margin-top: 46px;

      .feedback_left_part{
        float: left;
        width: 707px;
        height: 356px;
        .feedback_item{
          overflow: hidden;
          width: 707px;

          .item_left{
            float: left;
            img{
              width: 93px;
              height: 93px;
            }
          }
          .item_right{
            margin-left: 39px;
            float: left;
            .item_text{
              position: relative;
              font-size: 16px;
              color: #000000;
              line-height: 21px;
              width: 507px;


              .quot{
                position: absolute;
              }
              .start{
                left: -20px;
                top: -9px;
              }

              .end{
                left: 119px;
                bottom: -4px;
              }
            }
            .separator{
              height: 1px;
              width: 41px;
              background: #DCDCDC;
              margin-top: 11px;
            }
            .item_owner{
              margin-top: 11px;
              .owner_name{
                font-size: 22px;
                color: #312B4F;
                line-height: 30px;
              }
              .owner_place{
                color: #575757;
                font-size: 14px;
              }
            }
          }
          &+.feedback_item{
            margin-top: 63px;
          }
        }
      }
      .feedback_right_part{
        width: 219px;
        float: left;
        border-left: 1px solid #DCDCDC;
        padding-left: 20px;
        img{
          width: 67px;
          height: 53px;
          margin-top: 15px;
        }
        .strategy{
          margin-top: 12px;
          font-size: 24px;
          color: #000000;
          line-height: 32px;
          font-weight: 100;
        }
        .strategy_desc{
          font-weight: 100;
          font-size: 14px;
          color: #000000;
          line-height: 19px;
          margin-top: 7px;
          &+.strategy_desc{
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.part_7{
  margin-top: 100px;
  .team{
    border-bottom: 1px solid #979797;
    text-align: center;
    background: #332C4E;
    height: 898px;
    .team_content{
      margin: auto;
      width: 1000px;
      padding-top: 30px;

      .team_title{
        font-size: 45px;
        color: #FFFFFF;
        line-height: 60px;
        font-weight: 100;
      }
      .team_desc{
        font-size: 18px;
        color: #6CDFBD;
        line-height: 24px;
        width: 582px;
        margin: auto;
        margin-top: 12px;
      }
      .team_item_row{
        height: 298px;
        overflow: hidden;
        margin-top: 50px;
        margin-left: 34px;
        .team_item{
          float: left;
          width: 210px;
          .item_img{
            width: 190px;
            height: 190px;
            margin: auto;
            img{
              width: 100%;
              height: 100%;




	            border: #373052 solid 10px;
	            border-radius: 50%;
            }
          }
          .item_text{

            width: 202px;
            height: 78px;
            margin: auto;
            margin-top: 20px;

            .item_name{
              font-size: 22px;
              color: #FFFFFF;
              line-height: 30px;
            }
            .item_desc{
              font-size: 18px;
              color: white;
              font-weight: 100;
            }
          }

          &+.team_item{
            margin-left: 150px;
          }
        }
      }
    }

  }



  .questions{
    background: asset-url('questions_back.png') no-repeat center center;
    height: 507px;
    .questions_content{
      width: 777px;
      margin: auto;
      padding-top: 30px;
      .questions_title{
        text-align: center;
        font-size: 45px;
        color: #8EDBC9;
        line-height: 60px;

        font-weight: 100;
      }
      .questions_desc{
        text-align: center;
        font-size: 18px;
        color: #FFFFFF;
        line-height: 24px;

        width: 582px;
        margin: auto;
        margin-top: 12px;
      }
      .questions_form{
        margin-top: 28px;
        .input_row{
          overflow: hidden;
          input{
            font-size: 14px;
            color: white;
            float: left;
            width: 232px;

            border: none;
            border-bottom: 1px solid white;

            background: transparent;
            height: 43px;

            padding-left: 28px;

          }

          .name{
            background: asset-url('man_ico.png') no-repeat center left;
          }

          .telephone{
            background: asset-url('tele_ico.png') no-repeat center left;
            margin-left: 40px;
          }

          .email{
            background: asset-url('email_ico.png') no-repeat center left;
            margin-left: 40px;
          }

        }

        .textarea{
          width: 776px;
          height: 110px;
          margin: auto;
          margin-top: 46px;

          textarea{
            background: transparent;
            font-size: 14px;
            color: white;
            width: 100%;
            height: 100%;

            resize: none;

            border: 1px solid #FFFFFF;
            border-radius: 3px;
            line-height: 19px;

            padding: 13px;

          }
        }


        .submit_button{
          margin-top: 36px;
         //overflow: hidden;
          a{
            text-align: center;
            display: block;
            float: right;

            width: 283px;
            height: 45px;

            background: #01B18A;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
            border-radius: 100px;

            font-size: 14px;
            color: #FFFFFF;
            line-height: 19px;

            padding: 12px 0;
          }
          .hvr-ripple-out:before {
            content: '';
            position: absolute;
            border: #01B18A solid 2px;
            border-radius: 100px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
          }
        }
      }
    }

  }
}


.landing_footer{
  background: #EEEEEE;
  height: 200px;
  .footer_content{
    padding-top: 36px;
    width: 1000px;
    margin: auto;
    overflow: hidden;
    .point{
      float: left;
      font-size: 14px;
      color: #000000;
      line-height: 19px;
      margin-left: 29px;
      padding-left: 24px;

      background: asset-url('point_ico.png') no-repeat top left;
      .city{

      }
      .address{
        margin-top: 13px;
      }
      .phone{
        font-weight: 700;
      }
    }

    .mintrocket_footer{
      float: left;
      margin-left: 160px;
      img{
        width: 200px;
        height: 24.88px;
      }

      .mintrocket_desc{
        text-align: center;
        font-size: 12px;
        color: #000000;
        line-height: 16px;
        width: 210px;
        margin-top: 5px;


      }

      .social_links{
        margin-top: 20px;
        overflow: hidden;
        a{
          margin-left: 54px;
          img{
            width: 24px;
            height: 24px;
          }

          display: block;
          float: left;
          &+a{
            margin-left: 10px;
          }
        }
      }

      .link{
        margin-top: 15px;
        font-size: 12px;
        color: #000000;
        a{
          color: #29AE89;

          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}




////////MODALS////////////

.modal{
	padding-top: 65px;
	position: relative;
	width: 614px;
	height: 369px;
	background: white;
	margin: auto;

	.modal_title{
		font-size: 30px;
		color: #01C69A;
		font-weight: 500;
		text-align: center;
	}

	.modal_desc{
		font-size: 17px;
		color: #332C4E;
		width: 437px;

		margin: 35px auto auto;
		text-align: center;

	}

	.modal_button{
		display: block;
		background: #01B18A;
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
		border-radius: 100px;

		text-align: center;
		width: 263px;
		height: 48px;
		font-size: 18px;
		color: #FFFFFF;
		line-height: 24px;

		padding: 10px 0;

		margin: 30px auto auto;
	}

	.modal_form_row{
		width: 504px;
		margin: 25px auto auto;
		overflow: hidden;
		input{
			font-size: 14px;
			color: #332C4E;
			float: left;
			width: 232px;

			border: none;
			border-bottom: 1px solid #332C4E;

			background: transparent;
			height: 43px;

			padding-left: 23px;

			transition: 300ms;

		}

		.name{
			background: asset-url('black_man.png') no-repeat center left;
		}

		.telephone{
			background: asset-url('black_tele.png') no-repeat center left;
			margin-left: 40px;
		}
		.email{
			background: asset-url('black_mail.png') no-repeat center left;
			margin-left: 40px;
		}
	}
	.textarea {
		width: 515px;
		height: 73px;
		margin: auto;
		margin-top: 20px;

		textarea{
			background: transparent;
			font-size: 14px;
			color: #332C4E;
			width: 100%;
			height: 100%;

			resize: none;

			border: 1px solid #332C4E;
			border-radius: 3px;
			line-height: 19px;

			padding: 13px;

		}
	}

}

.modal_consult {
	width: 614px;
	height: 461px;


	input{

		width: 158px!important;


	}

	.telephone{

		margin-left: 14px!important;
	}
	.email{

		margin-left: 14px!important;
	}
}

/* ====== Default Fade effect ====== */
.mfp-with-fade .mfp-content,
.mfp-with-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
	opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
	opacity: 0.8;
}
.mfp-with-fade.mfp-removing .mfp-with-anim {
	opacity: 0;
}
.mfp-with-fade.mfp-removing.mfp-bg {
	opacity: 0;
}

.valid_error{
	border-bottom: 2px solid #cd595b!important;
}