<div class="modal mfp-with-anim mfp-hide" id="modal_call">
	<div class="modal_title">
		ЗАКАЗАТЬ ЗВОНОК
	</div>
	<div class="modal_desc">
		заполните форму, чтобы получить <strong>бесплатную</strong> консультацию специалиста
	</div>
	<div class="modal_form_row">
		<input type="text" placeholder="Ваше имя" class="name">
		<input type="text" placeholder="Ваш телефон" class="telephone">
	</div>
	<%=link_to 'ПЕРЕЗВОНИТЕ МНЕ', '#', class: 'modal_call_button modal_button' %>
</div>


<div class="modal mfp-with-anim mfp-hide" id="modal_complete">
	<div class="modal_title">
		<%= params[:modal_title] %>
	</div>
	<div class="modal_desc">
		Спасибо, ваша заявка принята. Мы свяжемся с Вами в ближайшее время.
	</div>
</div>

<div class="modal modal_consult mfp-with-anim mfp-hide" id="modal_consult">
	<div class="modal_title">
		ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
	</div>
	<div class="modal_desc">
		задайте вопрос специалисту,
		который свяжется с вами в течение 30 минут
		после того, как вы оставите заявку
	</div>
	<div class="modal_form_row">
		<input type="text" placeholder="Ваше имя" class="name">
		<input type="text" placeholder="Ваш телефон" class="telephone">
		<input type="text" placeholder="E-mail" class="email">
	</div>
	<div class="textarea">
		<textarea placeholder="Вопрос"></textarea>
	</div>

	<%=link_to 'ЗАДАТЬ ВОПРОС', '#', class: 'modal_message_button modal_button' %>
</div>



<div class="modal modal_consult mfp-with-anim mfp-hide" id="modal_cost">
	<div class="modal_title">
		УЗНАТЬ СТОИМОСТЬ
	</div>
	<div class="modal_desc">
		заполните форму и мы бесплатно проведем оценку вашего проекта
	</div>
	<div class="modal_form_row">
		<input type="text" placeholder="Ваше имя" class="name">
		<input type="text" placeholder="Ваш телефон" class="telephone">
		<input type="text" placeholder="E-mail" class="email">
	</div>
	<div class="textarea">
		<textarea placeholder="Описание проекта"></textarea>
	</div>

	<%=link_to 'ОТПРАВИТЬ', '#', class: 'modal_message_button modal_button' %>
</div>
