<div class="landing_header">
	<div class="landing_header_content">
		<div class="mintrocket_logo">
			<%=image_tag 'logo.png' %>
		</div>
		<div class="header_menu">
			<ul>
				<li>
					<%=link_to 'ПОРТФОЛИО', '#portfolio' %>
				</li>
				<li>
					<%=link_to 'ТАРИФЫ', '#tariffs' %>
				</li>
				<li>
					<%=link_to 'КОМАНДА', '#team' %>
				</li>
				<li>
					<%=link_to 'КОНТАКТЫ', '#contacts' %>
				</li>
			</ul>
		</div>

		<!--<div class="rus_eng">-->
		<!--<ul>-->
		<!--<li>-->
		<!--<%=link_to 'РУС', '#' %>-->
		<!--</li>-->
		<!--<li>-->
		<!--<%=link_to 'ENG', '#' %>-->
		<!--</li>-->
		<!--</ul>-->
		<!--</div>-->
		<div class="call_me_block">
			<div class="telephone_number">
				8 499 704 2408
			</div>
			<div class="call_me__bottom">
				<div class="time_msk">
					9<sup><small>00</small></sup> - 19<sup><small>00</small></sup> по МСК
				</div>
				<%=link_to 'Перезвоните мне', '#', class: 'hvr-ripple-out', 'data-effect' => 'mfp-with-fade' %>
			</div>
		</div>
	</div>
</div>


<div class="part_1">

	<div class="content_text">
		<h1>Разработка мобильных приложений под ключ за 5 недель</h1>
		<div class="bottom_content_text">
			Создаем мобильные приложения для лидеров рынка и стартаперов, которые приводят клиентов, создают имидж, помогают бизнесу расти.
		</div>
	</div>
	<div class="separator_part_1">
		<%=image_tag 'separator_part_1.png' %>
	</div>
	<div class="part_1_bottom">
		<div class="left_part">
			<div class="arrow_left">
				<%=image_tag 'arrow_left_part_1.png' %>
			</div>
			<div class="text_and_button_left">
				<div class="left_part_text">
					Ищите надежных разработчиков?
					Хотите узнать стоимость и сроки?
				</div>
				<%=link_to 'Получить консультацию', '#', class: 'get_consult hvr-ripple-out' %>
			</div>

		</div>
		<div class="right_part">
			<div class="arrow_right">
				<%=image_tag 'arrow_right_part_1.png' %>
			</div>
			<div class="text_and_button_right">
				<div class="right_part_text">
					Есть техническое задание?
					Получите прототип бесплатно!
				</div>
				<%=link_to 'Скачать бриф', '#', class: 'hvr-ripple-out' %>
			</div>

		</div>
	</div>
	<a href="#portfolio" class="part_1_arrow_down">
		<%=image_tag 'arrow_down.png' %>
	</a>

	<div class="part_1_numbers">
		<div class="advantage">
			<div class="up_part">
				<div class="text">
					24
				</div>
				<div class="ico">
					<%=image_tag 'adv1.png' %>
				</div>
			</div>
			<div class="down_part">
				ЧАСА НА ОЦЕНКУ ПРОЕКТА
			</div>
		</div>
		<div class="advantage">
			<div class="up_part">
				<div class="text">
					6
				</div>
				<div class="ico">
					<%=image_tag 'adv2.png' %>
				</div>
			</div>
			<div class="down_part">
				ЛЕТ ОПЫТА РАБОТЫ
			</div>
		</div>
		<div class="advantage">
			<div class="up_part">
				<div class="text">
					5
				</div>
				<div class="ico">
					<%=image_tag 'adv3.png' %>
				</div>
			</div>
			<div class="down_part">
				НЕДЕЛЬ СРЕДНИЙ СРОК ВЫПОЛНЕНИЯ ПРОЕКТОВ
			</div>
		</div>
		<div class="advantage">
			<div class="up_part">
				<div class="text">
					50+
				</div>
				<div class="ico">
					<%=image_tag 'adv4.png' %>
				</div>
			</div>
			<div class="down_part">
				ВЫПОЛНЕННЫХ ПРОЕКТОВ
			</div>
		</div>
		<div class="advantage">
			<div class="up_part">
				<div class="text">
					<span>от</span> 5
				</div>
				<div class="ico">
					<%=image_tag 'adv5.png' %>
				</div>
			</div>
			<div class="down_part">
				СПЕЦИАЛИСТОВ В КАЖДОМ ПРОЕКТЕ
			</div>
		</div>
	</div>

	<div class="partners_slider">
		<div class="partner_item">
			<%=link_to '#' do %>
				<%=image_tag 'partner1.png' %>
			<% end %>
		</div>
		<div class="partner_item">
			<%=link_to '#' do %>
				<%=image_tag 'partner2.png' %>
			<% end %>
		</div>
		<div class="partner_item">
			<%=link_to '#' do %>
				<%=image_tag 'partner3.png' %>
			<% end %>
		</div>
		<div class="partner_item">
			<%=link_to '#' do %>
				<%=image_tag 'partner4.png' %>
			<% end %>
		</div>
		<div class="partner_item">
			<%=link_to '#' do %>
				<%=image_tag 'partner5.png' %>
			<% end %>
		</div>
		<div class="partner_item">
			<%=link_to '#' do %>
				<%=image_tag 'partner6.png' %>
			<% end %>
		</div>
	</div>

	<div class="platform_devices">
		<div class="platform_text">
			Разрабатываем приложения для самых популярных платформ, позволяя охватить максимальную аудиторию
		</div>
		<div class="devices_block">
			<div class="device_item">
				<div class="device_img">
					<%=image_tag 'iphone.png' %>
				</div>
				<div class="device_name">
					iPhone
				</div>
			</div>
			<div class="device_item">
				<div class="device_img">
					<%=image_tag 'ipad.png' %>
				</div>
				<div class="device_name">
					iPad
				</div>
			</div>
			<div class="device_item">
				<div class="device_img">
					<%=image_tag 'android.png' %>
				</div>
				<div class="device_name">
					Android
				</div>
			</div>
			<div class="device_item">
				<div class="device_img">
					<%=image_tag 'android_tablet.png' %>
				</div>
				<div class="device_name">
					Android for Tablet
				</div>
			</div>
		</div>
		<div class="devices_block">
			<div class="device_item">
				<div class="device_img">
					<%=image_tag 'winphone.png' %>
				</div>
				<div class="device_name">
					Windows Phone
				</div>
			</div>
			<div class="device_item">
				<div class="device_img">
					<%=image_tag 'windows.png' %>
				</div>
				<div class="device_name">
					Windows
				</div>
			</div>
		</div>
	</div>

	<div class="part1_task_block">
		<div class="tasks_mobile_block">
			<div class="header_text">
				Какие задачи может решать
			</div>
			<div class="sub_header_text">
				мобильное приложение
			</div>

			<div class="mobile_task_item">
				<div class="task_left_part">
					<div class="task_image">
						<%=image_tag 'task1.png' %>
					</div>
				</div>
				<div class="task_right_part">
					<div class="task_title">
						Клиенты и сервис
					</div>
					<div class="task_text">
						Новая аудитория и новйы канал сбыта, увеличение частоты покупок, повышение среднего чека,
						бонусные программы, повышение лояльности и удержание текущих клиентов
					</div>
				</div>
			</div>

			<div class="mobile_task_item">
				<div class="task_left_part">
					<div class="task_image">
						<%=image_tag 'task2.png' %>
					</div>
				</div>
				<div class="task_right_part">
					<div class="task_title">
						Автоматизация и контроль бизнес-процессов
					</div>
					<div class="task_text">
						Рост эффективности труда сотрудников, торговых представителей, водителей,
						ремонтных бригад, интеграция в существующие системы. Аналитика, отчеты, база, история клиентов,
						показатели бизнеса под рукой
					</div>
				</div>
			</div>

			<div class="mobile_task_item">
				<div class="task_left_part">
					<div class="task_image">
						<%=image_tag 'task3.png' %>
					</div>
				</div>
				<div class="task_right_part">
					<div class="task_title">
						Развитие бренда
					</div>
					<div class="task_text">
						Создание цифрового имиджа бренда, вовлечение пользователя через интерактивное
						взаимодействие, формирование уникальных профилей своей целевой аудитории, улучшение
						тергетинга, уникальная пользовательская и рекламная среда
					</div>
				</div>
			</div>

			<div class="mobile_task_item">
				<div class="task_left_part">
					<div class="task_image">
						<%=image_tag 'task4.png' %>
					</div>
				</div>
				<div class="task_right_part">
					<div class="task_title">
						Стартап
					</div>
					<div class="task_text">
						Новый мобильный сервис, мобильная игра, разработать прототип для инвесторов,
						воплотить в жизнь свои идеи
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="cases_block">
		<div class="cases_title">
			Кейсы
		</div>

		<div class="cases_slider" id="portfolio">
			<div class="case_item">
				<div class="case_left_part">
					<%=image_tag 'case_pict1.png' %>
				</div>
				<div class="case_right_part">
					<div class="case_title">
						Афиша Тюмень
					</div>
					<div class="case_desc">
						Мощный проект по концертно-театральной деятельности. Позволяет следить за всеми
						постановками в 5-ти театрах ТКТО (Филармония, Драмтеатр, Театр кукл и т.д.).
						Предусмотрена возможность авторизации, бронирования, покупки билетов с онлайн
						оплатой и получением электронных билетов на почту и многое другое.
					</div>
					<div class="dev_time">
						<div class="number_time">
							5
						</div>
						<div class="time_right_part">
							<div class="develop_time">
								ВРЕМЯ РАЗРАБОТКИ
							</div>
							<div class="time_name_block">
								недель
							</div>
						</div>

					</div>
					<div class="case_tags">
						<div class="tag_item">
							iOS
						</div>
						<div class="tag_item">
							Animation
						</div>
						<div class="tag_item">
							Graphics
						</div>
						<div class="tag_item">
							Payment
						</div>
					</div>
					<div class="store_links">
						<a href="#" class="store_item appstore">
						</a>
						<a href="#" class="store_item playstore">
						</a>
						<a href="#" class="store_item winstore">
						</a>
					</div>
				</div>
			</div>
			<div class="case_item">
				<div class="case_left_part">
					<%=image_tag 'case_pict2.png' %>
				</div>
				<div class="case_right_part">
					<div class="case_title">
						МосЭнергосбыт
					</div>
					<div class="case_desc">
						Функциональный Личный кабинет в котором можно: оплатить счет без комиссии, передать показания,
						узнать баланс, подписаться на электронный счет, подключить, автоплатеж, заказать и оплатить услугу
						и многое другое
					</div>
					<div class="dev_time">
						<div class="number_time">
							5
						</div>
						<div class="time_right_part">
							<div class="develop_time">
								ВРЕМЯ РАЗРАБОТКИ
							</div>
							<div class="time_name_block">
								недель
							</div>
						</div>

					</div>
					<div class="case_tags">
						<div class="tag_item">
							CRM system
						</div>
						<div class="tag_item">
							Billing
						</div>
						<div class="tag_item">
							Help Desk
						</div>
					</div>
					<div class="store_links">
						<a href="#" class="store_item appstore">
						</a>
						<a href="#" class="store_item playstore">
						</a>
						<a href="#" class="store_item winstore">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>

<div class="part_2">
	<div class="part_2_info_block">
		<div class="info_block_text">
			Осуществляем полный цикл разработки мобильных бизнес-приложений для Android, iOS и Windows Phone
			от генерации идеи, разработки концепции и подготовки технического задания до
			публикации в App Store, Google Play и Windows Store
		</div>
	</div>

	<div class="price_table" id="tariffs">
		<div class="price_table__head">
			<div class="table_title">
				Тарифы
			</div>
			<div class="tarif_block">
				<div class="tarif_item yellow">
					<div class="tarif_header">
						ЛАЙТ
					</div>
					<div class="tarif_desc">
						Простое, но полностью функциональное качественное приложение - минимальный жизнеспособный
						продукт (MVP), который обычно используется для проверки идей приложений
					</div>
				</div>
				<div class="tarif_item purple">
					<div class="tarif_header">
						СТАНДАРТ
					</div>
					<div class="tarif_desc">
						Мобильное приложение с расширенными дополнительными функциями. Детально проработанное
						приложение, позволяющее решать задачи вашего бизнеса
					</div>
				</div>
				<div class="tarif_item green">
					<div class="tarif_header">
						БИЗНЕС
					</div>
					<div class="tarif_desc">
						Комплексное решение для крупных проектов. Мы разрабатываем все: iOS и Android приложения,
						сайты и панель администратора, серверную часть проекта, проводим интеграцию с информационными
						системами
					</div>
				</div>
			</div>
		</div>
		<div class="table_panel_header">
			МОБИЛЬНОЕ ПРИЛОЖЕНИЕ
		</div>
		<div class="list_table">
			<table>
				<tr>
					<td class="desc">Анализ потребностей конечного пользователя</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr class="no_color_row">
					<td class="desc">Формулировка целей и задач</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr>
					<td class="desc">Проработка usability проекта</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr class="no_color_row">
					<td class="desc">Эскизный прототип</td>
					<td class="yellow for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr>
					<td class="desc">Дизайн и верстка</td>
					<td class="yellow for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr class="no_color_row">
					<td class="desc">Кликабельный дизайн-макет</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr>
					<td class="desc">Подключение API-функций</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
			</table>
		</div>
		<div class="table_panel_header">
			СЕРВЕРНАЯ ЧАСТЬ / СИСТЕМА УПРАВЛЕНИЯ КОНТЕНТОМ
		</div>
		<div class="list_table">
			<table>
				<tr>
					<td class="desc">Проектирование Базы данных</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr class="no_color_row">
					<td class="desc">Настройка сервера</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr>
					<td class="desc">Разработка системы управления контентом</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr class="no_color_row">
					<td class="desc">Разработка API-функций</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr>
					<td class="desc">Проработка безопасности, аутентификации, логирования</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr class="no_color_row">
					<td class="desc">Интеграция с внешними системами (ERP, CRM и т.д.)</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>

			</table>
		</div>


		<div class="table_panel_header">
			КЛИЕНТСКАЯ ЧАСТЬ WEB-СЕРВИСА
		</div>
		<div class="list_table">
			<table>
				<tr>
					<td class="desc">Прототипирование</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr class="no_color_row">
					<td class="desc">Дизайн и верстка</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr>
					<td class="desc">Функциональная верстка</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>


			</table>
		</div>


		<div class="table_panel_header">
			ЗАПУСК ПРОЕКТА
		</div>
		<div class="list_table">
			<table>
				<tr>
					<td class="desc">Контент-менеджмент</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr class="no_color_row">
					<td class="desc">Тестирование</td>
					<td class="yellow for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr>
					<td class="desc">Релиз</td>
					<td class="yellow for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>
				<tr class="no_color_row">
					<td class="desc">Видео-инструкция пользователя</td>
					<td class="yellow for_icon">
						<%= image_tag 'no.png' %>
					</td>
					<td class="purple for_icon">
						<%= image_tag 'yes.png' %>
					</td>
					<td class="green for_icon">
						<%= image_tag 'yes.png' %>
					</td>
				</tr>

			</table>
		</div>
		<div class="cost_buttons_row">
			<div class="button_item">
				<%=link_to  'УЗНАТЬ СТОИМОСТЬ', '#', class: 'cost_button hvr-ripple-out' %>
			</div>
			<div class="button_item">
				<%=link_to  'УЗНАТЬ СТОИМОСТЬ', '#', class: 'cost_button hvr-ripple-out' %>
			</div>
			<div class="button_item">
				<%=link_to  'УЗНАТЬ СТОИМОСТЬ', '#', class: 'cost_button hvr-ripple-out' %>
			</div>
		</div>

	</div>
</div>

<div class="part_3">
	<div class="call_us_block">
		<div class="call_us_content">
			<div class="call_us_title">
				Оставьте заявку
			</div>
			<div class="call_us_desc">
				Мы бесплатно проведем оценку вашего проекта, проанализируем технические требования,
				рассчитаем стоимость и срок разработки и дадим комментарии
			</div>

			<div class="call_us_form">
				<input type="text" class="name" placeholder="Ваше имя">
				<input type="text" class="telephone" placeholder="Ваш телефон">

				<%=link_to 'ПЕРЕЗВОНИТЕ МНЕ', '#', class: 'hvr-ripple-out ajax_cost' %>
			</div>
		</div>

	</div>


	<div class="part_3_info_block">
		<div class="info_block_text">
			Работать с нами выгоднее, чем нанимать работников в штат
		</div>
	</div>
</div>


<div class="part_4">
	<div class="why_block">
		<div class="block_title">
			Почему уже 50+ компаний выбрали нас?
		</div>
		<div class="block_row">
			<div class="reason_item">
				<div class="reason_pict">
					<%=image_tag 'reason1.png' %>
				</div>
				<div class="reason_title">
					Гарантия на код
				</div>
				<div class="reason_desc">
					Мы даем трехмесячную гарантию на разработанный проект бесплатно:
					мы устраним любые проблемы, если они возникнут с приложением быстро и совершенно
					бесплатно
				</div>
			</div>
			<div class="reason_item">
				<div class="reason_pict">
					<%=image_tag 'reason2.png' %>
				</div>
				<div class="reason_title">
					Соблюдение сроков
				</div>
				<div class="reason_desc">
					По фиксированной цене без задержек по срокам! Даем доступ к системе контроля
					разработки и ежедневным отчетам
				</div>
			</div>
			<div class="reason_item">
				<div class="reason_pict">
					<%=image_tag 'reason3.png' %>
				</div>
				<div class="reason_title">
					Безопасность данных
				</div>
				<div class="reason_desc">
					Сохраняем исходные коды и данные проекта конфиденциальными, гарантируем безопасность
					интеллектуальной собственности
				</div>
			</div>
			<div class="reason_item">
				<div class="reason_pict">
					<%=image_tag 'reason4.png' %>
				</div>
				<div class="reason_title">
					Выгодные цены
				</div>
				<div class="reason_desc">
					Оценивая проект, мы рассматриваем каждую деталь, соответствующую техническому
					заданию и даем вам точные сроки и цены. Цены и сроки не меняются в процессе
					разработки
				</div>
			</div>
		</div>
	</div>

	<div class="strong_company">

		<div class="text">
			<p>Наша команда одна из самых сильных</p>
			<p>на рынке разработки мобильных приложений</p>
		</div>


	</div>

	<div class="what_is_dev">
		<div class="block_title">
			Из чего состоит разработка мобильного приложения
		</div>

		<div class="madness_block">
			<div class="step one">
				<div class="step_number">
					1
				</div>
				<div class="step_title">
					Планирование
				</div>
				<div class="step_desc">
					<p>Совместное с заказчиков заполнение брифа, отвечающего на важные вопросы для
						уточнения требований к разрабатываемому продукту</p>
				</div>
			</div>
			<div class="step two">
				<div class="step_number">
					2
				</div>
				<div class="step_title">
					Техническое задание
				</div>
				<div class="step_desc">
					<p>Разработка технического задания, в котором описываются функциональные
						требования и требования к программному и аппаратному обеспечению</p>
					<p>Проработка прототипов экранов проекта и навигационной схемы приложения, содержащей
						в себе всю логику будущего приложения</p>
				</div>
			</div>
			<div class="step three">
				<div class="step_number">
					3
				</div>
				<div class="step_title">
					Разработка серверной части
				</div>
				<div class="step_desc">
					<p>Проводим анализ данных, необходимых для корректной работы приложения,
						в итоге проектируем базу данных</p>
					<p>Проводим настройку сервера, создаем систему управления данными в БД</p>
					<p>Разрабатываем и описываем API-функции</p>
					<p>Проводим интеграцию с внешними системами Заказчика</p>

				</div>
			</div>
			<div class="step four">
				<div class="step_number">
					4
				</div>
				<div class="step_title">
					Разработка мобильного приложения
				</div>
				<div class="step_desc">
					<p>Если приложение имеет превосходный дизайн, шансы на "успех" приложения
						увеличиваются в разы</p>
					<p>На базе прототипов в ТЗ проектируем дизайн</p>
					<p>Осуществляем верстку созданного дизайна под требуемые устройства</p>
					<p>Осуществляем приваязку API-функций, а также прорабатывыаем различные анимационные
						эффекты</p>
					<p>В работе на проектом мы используем проверенные библиотеки и фреймворки</p>
				</div>
			</div>
			<div class="step five">
				<div class="step_number">
					5
				</div>
				<div class="step_title">
					Запуск
				</div>
				<div class="step_desc">
					<p>Проводим тестирование системы</p>
					<p>Проводим бета-тестирование среди потенциальных пользователей</p>
					<p>Публикация мобильного приложения в Store</p>
					<p>Отслеживание отзывов и реакция на выявленные недочеты</p>

				</div>
			</div>
			<div class="arrow_1 abs">
				<%=image_tag 'arrow1.png' %>
			</div>
			<div class="arrow_2 abs">
				<%=image_tag 'arrow2.png' %>
			</div>
			<div class="arrow_3 abs">
				<%=image_tag 'arrow3.png' %>
			</div>
			<div class="arrow_4 abs">
				<%=image_tag 'arrow4.png' %>
			</div>

			<div class="center_telephone">
				<%=image_tag 'dev_phone.png'%>
			</div>
		</div>

	</div>
</div>

<div class="part_5">
	<div class="work_stages">
		<div class="block_title">
			Этапы работ
		</div>
		<div class="work_stages_img">
			<%=image_tag 'Stages.png'%>
		</div>
	</div>

	<div class="part_5_info_block">
		<div class="info_block_text">
			Помогаем подготовить оформление графики и описания к публикации, а также подбор
			ключевых слов для дальнейшего продвижения приложения. После публикации в магазине
			приложений осуществляем "техническую поддержку". Внедряем аналитику, чтобы вы могли
			отслеживать результаты скачивания и принимать верные управленческие решения
		</div>
	</div>
</div>

<div class="part_6">
	<div class="form_block">
		<div class="left_part">
			<%=image_tag 'form_text.png' %>
		</div>

		<div class="right_part">
			<div class="form_input">
				<div class="form_title">
					Заполните форму
				</div>
				<div class="form_desc">
					чтобы получить бесплатную консультацию специалиста
				</div>
				<input type="text" class="name"  placeholder="Ваше имя">
				<input type="text" class="telephone" placeholder="Ваш телефон">

				<%=link_to 'ЗАКАЗАТЬ ПРЕЗЕНТАЦИЮ', '#', class: 'hvr-ripple-out presentation_request' %>
			</div>
		</div>
	</div>

	<div class="feedback_block">
		<div class="feedback_title">
			Отзывы
		</div>

		<div class="feedback_content">
			<div class="feedback_left_part">
				<div class="feedback_item">
					<div class="item_left">
						<%=image_tag 'person1.png' %>
					</div>
					<div class="item_right">
						<div class="item_text">
							<div class="quot start">
								<%=image_tag 'kovich.png' %>
							</div>
							<div class="quot end"  style="left: 324px;">
								<%=image_tag 'kovich.png' %>
							</div>
							Мы каждый год проводим этапы кубка мира по биатлону. Команда
							MintRocket всячески активно участвует в разработке наших амбициозных
							проектов. Разработали симулятор Биатлона, в который играют больше
							10 тысяч человек.
						</div>
						<div class="separator"></div>
						<div class="item_owner">
							<div class="owner_name">
								Елена Брохес
							</div>
							<div class="owner_place">
								директор Центра Спортивной Подготовки (г. Тюмень)
							</div>
						</div>
					</div>
				</div>
				<div class="feedback_item">
					<div class="item_left">
						<%=image_tag 'person2.png' %>
					</div>
					<div class="item_right">
						<div class="item_text">
							<div class="quot start">
								<%=image_tag 'kovich.png' %>
							</div>
							<div class="quot end">
								<%=image_tag 'kovich.png' %>
							</div>
							Команда MintRocket профессионалы своего дела, с уверенностью рекомендую
							их для выполнения сложных проектов. Всегда доводят дело до конца.
						</div>
						<div class="separator"></div>
						<div class="item_owner">
							<div class="owner_name">
								Федор Селиванов
							</div>
							<div class="owner_place">
								директор digital-агентства Creative
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedback_right_part">
				<%=image_tag 'hands.png' %>
				<div class="strategy">
					Наша стратегия "Win - Win"
				</div>
				<div class="strategy_desc">
					Успех проекта часто зависит от человеческого фактора, в результате могут
					возникнуть различные споры, которые мы должны решать вместе.
				</div>
				<div class="strategy_desc">
					Мы умеем находить решения, при которых обе стороны довольны результатом.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="part_7">
	<div class="team">
		<div class="team_content" id="team">
			<div class="team_title">
				Команда
			</div>
			<div class="team_desc">
				Компетенции и опыт нашей команды позволяют выполнить проект разработки мобильного
				приложения практически любой сложности на платформах iOS, Android и Windows Phone
			</div>
			<div class="team_item_row">
				<div class="team_item">
					<div class="item_img">
						<%=image_tag 'worker1.png' %>
					</div>
					<div class="item_text">
						<div class="item_name">
							Иван Карякин
						</div>
						<div class="item_desc">
							директор, руководитель проектов
						</div>
					</div>
				</div>
				<div class="team_item">
					<div class="item_img">
						<%=image_tag 'worker6.png' %>
					</div>
					<div class="item_text">
						<div class="item_name">
							Кирилл Кунст
						</div>
						<div class="item_desc">
							Технический директор
						</div>
					</div>
				</div>
				<div class="team_item">
					<div class="item_img">
						<%=image_tag 'worker2.png' %>
					</div>
					<div class="item_text">
						<div class="item_name">
							Екатерина Маркина
						</div>
						<div class="item_desc">
							Руководитель проектов
						</div>
					</div>
				</div>

			</div>
			<div class="team_item_row">
				<div class="team_item">
					<div class="item_img">
						<%=image_tag 'worker3.png' %>
					</div>
					<div class="item_text">
						<div class="item_name">
							Роман Булах
						</div>
						<div class="item_desc">
							Дизайнер
						</div>
					</div>
				</div>
				<div class="team_item">
					<div class="item_img">
						<%=image_tag 'worker5.png' %>
					</div>
					<div class="item_text">
						<div class="item_name">
							Иван Морозов
						</div>
						<div class="item_desc">
							Программист
						</div>
					</div>
				</div>
				<div class="team_item">
					<div class="item_img">
						<%=image_tag 'worker4.png' %>
					</div>
					<div class="item_text">
						<div class="item_name">
							Евгений Кузовкин
						</div>
						<div class="item_desc">
							Программист
						</div>
					</div>
				</div>



			</div>
		</div>

	</div>


	<div class="questions">
		<div class="questions_content">
			<div class="questions_title">
				Остались вопросы?
			</div>
			<div class="questions_desc">
				Задайте их специалисту, который свяжется с вами в течение 30 минут после того,
				как вы оставите заявку.
			</div>

			<div class="questions_form">
				<div class="input_row">
					<input type="text" class="name" placeholder="Ваше имя">
					<input type="text" class="telephone" placeholder="Ваш телефон">
					<input type="text" class="email" placeholder="E-Mail">
				</div>
				<div class="textarea">
					<textarea placeholder="Сообщение"></textarea>
				</div>
				<div class="submit_button">
					<%=link_to 'ОТПРАВИТЬ ЗАЯВКУ', '#', class: 'hvr-ripple-out footer_request'  %>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="landing_footer">
	<div class="footer_content">
		<div class="point">
			<div class="city">
				Москва
			</div>
			<div class="address">
				Дмитровское ш. 27к1, рф. 519
			</div>
			<div class="phone">
				8 499 704 2408
			</div>
		</div>

		<div class="mintrocket_footer" id="contacts">
			<%=image_tag 'mintrocket.png' %>
			<div class="mintrocket_desc">
				Разработка мобильных приложений под iOS, Android, Windows Phone
			</div>

			<div class="social_links">
				<%=link_to '#' do %>
					<%=image_tag 'skype.png' %>
				<% end %>

				<%=link_to '#' do %>
					<%=image_tag 'bk.png' %>
				<% end %>

				<%=link_to '#' do %>
					<%=image_tag 'fb.png' %>
				<% end %>
			</div>

			<div class="link">
				<%=link_to '5weeks.ru', '#' %> - проект компании MintRocket
			</div>

		</div>

		<div class="point" style="margin-left: 120px;">
			<div class="city">
				Тюмень
			</div>
			<div class="address">
				ул. Челюскинцев, д.10, оф. 224
			</div>
			<div class="phone">
				8 909 181 9636
			</div>
		</div>

	</div>
</div>


<%= render 'site/main/modal_windows' %>